.calendar {
  width: 100%;

}

.calendarMonth {
  .weekList {
    display: flex;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;

    .listItem {
      padding: 20px 16px;
      text-align: left;
      color: #7d7d7d;
      flex: 1;
    }
  }

  &Body {
    &Row {
      height: 100%;
      display: flex;
    }

    &Cell {
      flex: 1;
      border: 1px solid #eee;
      padding: 10px;
      color: #ccc;

      &Current {
        color: #000;
      }
    }
  }

}