.calendar {
  width: 100%;

}

.calendarMonth {
  .weekList {
    display: flex;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;

    .listItem {
      padding: 20px 16px;
      text-align: left;
      color: #7d7d7d;
      flex: 1;
    }
  }

  &Body {
    &Row {
      height: 100px;
      display: flex;
    }

    &Cell {
      flex: 1;
      border: 1px solid #eee;
      padding: 10px;
      color: #ccc;
      overflow: hidden;

      &Current {
        color: #000;
      }
    }
  }

}

.calendar_header {
  &_left {
    display: flex;
    align-items: center;

    height: 28px;
    line-height: 28px;
  }

  &_value {
    font-size: 20px;
  }

  &_btn {
    background: #eee;
    cursor: pointer;
    border: 0;
    padding: 0 15px;
    line-height: 28px;

    &:hover {
      background: #ccc;
    }

    &_icon {
      width: 28px;
      height: 28px;
      line-height: 28px;
      border-radius: 50%;
      text-align: center;
      font-size: 12px;
      user-select: none;
      cursor: pointer;
      margin-right: 12px;

      &:not(:first-child) {
        margin: 0 12px;
      }

      &:hover {
        background: #ccc;
      }
    }
  }
}